/** @format */

figure {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

figure a {
  grid-column: 1/4;
  grid-row: 1/4;
  display: block;
}

figure .youtube-icon {
  position: absolute;
  font-size: 4rem;
  opacity: 0;
  color: red;
  z-index: -1;
  filter: drop-shadow(3px 3px 3px black);
  margin: 10px 0px 0px 10px;
}

figure img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 600px;
  height: 330px;
  /*ν¬μΈνΈ!*/
}

figure a:hover,
a:active,
a:focus {
  animation-duration: 0.4s;
  animation-name: scaleup-image;
  animation-fill-mode: forwards;
}

figure a:hover > .youtube-icon {
  z-index: 200;
  opacity: 0.7;
}
figure a:active > .youtube-icon {
  z-index: 200;
  opacity: 0.7;
}
figure a:focus > .youtube-icon {
  z-index: 200;
  opacity: 0.7;
}

@keyframes scaleup-image {
  from {
    z-index: 100;
  }

  to {
    z-index: 100;
    transform: scale(1.1);
  }
}

figure .fig-info {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: black;
  color: white;
  opacity: 0.7;
  padding: 0.2rem;
}

figure figcaption {
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 1rem;
  overflow: hidden;
}

figure h2,
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin: 0;
  opacity: 1;
}

@media (min-width: 600px) {
  #contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  figure h2,
  p {
    font-size: 1.2rem;
  }
}
